<!-- 
* Partials for ejs files
* include boilerplate to templates 
-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, inital-scale=1, shrink-to-fit=no">
        <!-- need / before app.css because this file is not in the same directory as css file -->
        <link rel="stylesheet" href="/public/assets/app.css">
        
        <title>BingeWatch: List of Movies and Shows to Watch</title>
    </head>
    
    <body>