<% include partials/header %>
<h1 class="home"> BingeWatch - Search for Something to Watch!</h1>
<h2> Search for a Movie or Show </h2>
<form action="/results" method="GET">
    <input type="text" placeholder="Search by Title" name="search">
    <input type="submit">
</form>

<% include partials/footer %>